<% cars.each do |car| %>
<div class="col-lg-4 col-sm-6" style="padding-bottom: 20px;">
  <div class="car-item gray-bg text-center">
    <div class="car-image">
      <img class="img-fluid" src="<%= car.model.model_main_pic %>" alt="<%= car.model.model_name %>">
      <div class="car-overlay-banner">
        <ul>
          <li>
              <%= link_to "#" do %>
                <i class="fa fa-pencil"></i>
              <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
        </li>
        </ul>
      </div>
    </div>
    <div class="car-list">
      <ul class="list-inline">
        <li><i class="fa fa-car"></i> <%= car.model.type.type_name %></li>
        <li><i class="fa fa-cog"></i> <%= car.model.segment.segment_name %> </li>
      </ul>
    </div>
    <div class="car-content">
      <span><%= link_to car.model.model_title_name, model_path(car.model) %></span>
      <div class="separator"></div>
      <span><a href="#"><%= car.amount %> chiếc</a></span>
      <div class="price">
        <span class="new-price"><%= car.cardealer_price %> </span>
      </div>
    </div>
  </div>
</div>
<% end %>