
<body>

    <!--=================================
      loading -->
    
      <div id="loading">
        <div id="loading-center">
          <img src="<%= asset_path('loader/loader.gif') %>" alt="">
       </div>
      </div>
    
    <!--=================================
      loading -->
    
    
    <!--=================================
     header -->
    
     <header id="header" class="defualt">
        <div class="topbar">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="topbar-left text-lg-start text-center">
                   <ul class="list-inline">
                     <li> <i class="fa fa-envelope-o"> </i> hungchv16@gmail.com</li>
                     <li> <i class="fa fa-clock-o"></i> Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>
                   </ul>
                </div>
              </div>
              <div class="col-lg-6 col-md-12">
                <div class="topbar-right text-lg-end text-center">
                   <ul class="list-inline">
                     <li> <i class="fa fa-phone"></i> 0386680574</li>
                     <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                     <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                     <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                     <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                   </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!--=================================
         mega menu -->
        
        <div class="menu">
          <!-- menu start -->
           <nav id="menu" class="mega-menu">
            <!-- menu list items container -->
            <section class="menu-list-items">
             <div class="container">
              <div class="row">
               <div class="col-md-12 position-relative">
                <!-- menu logo -->
                <ul class="menu-logo">
                    <li>
                        <a href=<%= car_show_path %>><img id="logo_img" src="<%= asset_path('logo/logo-light.png') %>" alt="logo"></a>
                    </li>
                </ul>
                <!-- menu links -->
                <ul class="menu-links">
                    <!-- active class -->
                    <li><a href="<%= car_show_path %>">Home</a></li>
                    <li><a href="javascript:void(0)">So sánh <i class="fa fa-angle-down fa-indicator"></i></a>
                      <div class="drop-down menu-bg grid-col-12">
                        <div class="grid-row" id="list-compared">
                          <%= render partial: 'car/compared_models', locals: { compared_models: session[:compared_models] } %>
                        </div>
                        <div class="grid-row" id ="compare_button">
                          <%= link_to "So sánh", car_compare_compare_path, class: "button red float-end" %>
                        </div> 
                      </div>
                    </li>
                    <li><a href="<%= cardealers_path %>">CARDEALER</a></li>
                    <li><a href="javascript:void(0)">top doanh số   <i class="fa fa-angle-down fa-indicator"></i></a>
                       <!-- drop down multilevel  -->
                        <ul class="drop-down-multilevel">
                            <li><%= link_to "Cả năm 2023", sales_index_path %></li>
                        </ul>
                    </li>
                    <li>
                      <% if current_user %>
                      <a href="javascript:void(0)"> <%= current_user.firstname %>  <i class="fa fa-angle-down fa-indicator"></i></a>
                       <ul class="drop-down-multilevel">
                        <% if current_user.admin_car_dealer? %>
                        <li><%= link_to "Admin", admin_cardealer_path(current_user.cardealer) %></li>
                      <% else %>
                        <li><%= link_to "Tài khoản", user_path(current_user) %></li>
                      <% end %>
                        <li><%= link_to "Đăng xuất", logout_path, method: :delete %>
                        </li>
                       </ul>
                      <% else %>
                        <%= link_to "Đăng nhập", login_path %>
                      <% end %>
                    </li>
                  </ul>
               </div>
              </div>
             </div>
            </section>
           </nav>
          <!-- menu end -->
         </div>
        </header>
    
    <!--=================================
     header -->
    
    
    <!--=================================
     inner-intro -->
    
     <section class="inner-intro bg-1 bg-overlay-black-70">
      <div class="container">
         <div class="row text-center intro-title">
               <div class="col-md-6 text-md-start d-inline-block">
                 <h1 class="text-white">Trang quản lý Car Dealer</h1>
               </div>
               <div class="col-md-6 text-md-end float-end">
                 <ul class="page-breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><a href="#">Admin</a> <i class="fa fa-angle-double-right"></i></li>
                    <li><span><%= @cardealer.name %></span> </li>
                 </ul>
               </div>
         </div>
      </div>
    </section>
    
    <!--=================================
     inner-intro -->
    
    
    <!--=================================
    left-sidebar  -->
    
    <section class="page-left-sidebar page-section-ptb">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="blog-sidebar">
              <div class="sidebar-widget">
                <h6>Các chức năng</h6>
                <div class="widget-link mb-md-0 mb-5">
                   <ul>
                    <li><%= link_to '<i class="fa fa-angle-right"></i> Các yêu cầu tư vấn'.html_safe, inquiries_all_admin_cardealer_path(@cardealer) %></li>
                    <li><%= link_to '<i class="fa fa-angle-right"></i> Nhân sự'.html_safe, staffs_admin_cardealer_path(@cardealer) %></li>
                    <li><%= link_to '<i class="fa fa-angle-right"></i> Các mẫu xe đang có'.html_safe, models_admin_cardealer_path(@cardealer) %></li>
                   </ul>
                  </div>
              </div>
            </div>
          </div>
            <div class="col-md-9">
              <section class="car-details page-section-ptb" style="padding: 0px; margin-top: 0px;">
                <div class="container" >
                <div class="row" >
                  <div class="details-nav" style="padding-top: 0px; margin: 0px;">
                    <ul>
                      <li>
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">
                         <i class="fa fa-plus-circle"></i>Thêm mẫu xe
                        </a>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Thêm mẫu xe</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">×</button>
                              </div>
                              <div class="modal-body">
                                <form class="gray-form reset_css"  action="<%= car_dealer_cars_path %>"   method="post">
                                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                  <input type="hidden" name="car_dealer_car[cardealer_id]" value="<%= @cardealer.id %>">
                                  <div class="mb-3" id="admin-brand-select">
                                    <label class="form-label">Hãng xe*</label>
                                    <select class="form-control ">
                                      <option value="">Chọn hãng xe</option>
                                      <% @brands.each do |brand| %>
                                        <option value="<%= brand.id %>"><%= brand.brand_name %></option>
                                      <% end %>
                                    </select>
                                  </div>
                                  <div class="mb-3" id="admin1-model-select">
                                    <label class="form-label">Mẫu xe*</label>
                                    <select class="form-control" id="admin-model-select" name="car_dealer_car[model_id]" required>
                                      <option value="">Chọn mẫu xe</option>
                                    </select>
                                  </div>
                                  <div class="mb-3">
                                    <label class="form-label">Số lượng*</label>
                                    <input type="number" class="form-control" name="car_dealer_car[amount]"  required />
                                  </div>
                                  <div class="mb-3">
                                    <label class="form-label">Giá bán hiện tại (triệu đồng)*</label>
                                    <input type="number" class="form-control" name="car_dealer_car[cardealer_price]"  required />
                                  </div>
                                  <div>
                                    <button type="submit" class="button red" >Gửi <i class="fa fa-spinner fa-spin fa-fw btn-loader" style="display: none;"></i></button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                </div>
                </section>
              <div class="row">
                <div class="isotope-filters">
                  <button  class="active" data-filter="">Tất cả</button>
                  <% @model_brands.each do |model_brand| %>
                    <button data-filter="<%= model_brand %>"><%= model_brand %></button>
                  <% end %>
                </div>
              </div>
              <div class="row" id="model-list"> 
                <%= render partial: 'model_list', locals: { cars: @car_models } %>
              </div>
         </div>
       </div>
    </section>
    
    <!--=================================
    left-sidebar  -->
    
    
    <!--=================================
     footer -->
    
    <footer class="footer bg-3 bg-overlay-black-90">
      <div class="container">
        <div class="row">
         <div class="col-md-12">
          <div class="social">
            <ul>
              <li><a class="facebook" href="#">facebook <i class="fa fa-facebook"></i> </a></li>
              <li><a class="twitter" href="#">twitter <i class="fa fa-twitter"></i> </a></li>
              <li><a class="pinterest" href="#">pinterest <i class="fa fa-pinterest-p"></i> </a></li>
              <li><a class="dribbble" href="#">dribbble <i class="fa fa-dribbble"></i> </a></li>
              <li><a class="google-plus" href="#">google plus <i class="fa fa-google-plus"></i> </a></li>
              <li><a class="behance" href="#">behance <i class="fa fa-behance"></i> </a></li>
            </ul>
           </div>
          </div>
        </div>
      </div>
    </footer>
    
    <!--=================================
     footer -->
    
    
    
     <!--=================================
     back to top -->
    
     <div class="car-top">
      <span>
        <img  src="<%= asset_path('car.png') %>" alt="">
      </span>
    </div>
    
     <!--=================================
     back to top -->
     <script>
    
        $('.add-to-compare').on('click', function(e) {
          e.preventDefault();
        
          var modelId = $(this).data('model-id');
          var csrfToken = $('meta[name="csrf-token"]').attr('content');
        
          $.ajax({
            type: 'POST',
            url: '/car/add_to_compare',
            data: {
              model_id: modelId,
              authenticity_token: csrfToken
            },
            success: function(response) {
              console.log(response);
        
              $.ajax({
                type: 'GET',
                url: '/car/render_compared_models',
                success: function() {
                },
                error: function(error) {
                  console.log(error);
                }
              });
            },
            error: function(error) {
              console.log(error);
            }
          });
        });
        
        // Sử dụng event delegation cho phần tử cha tồn tại từ trước (body trong trường hợp này)
        $('body').on('click', '.remove-from-compare', function(e) {
          e.preventDefault();
        
          var modelId = $(this).data('model-id');
          var csrfToken = $('meta[name="csrf-token"]').attr('content');
        
          $.ajax({
            type: 'POST',
            url: '/car/remove_from_compare',
            data: {
              model_id: modelId,
              authenticity_token: csrfToken
            },
            success: function(response) {
              console.log(response);
              $.ajax({
                type: 'GET',
                url: '/car/render_compared_models',
                success: function() {
                },
                error: function(error) {
                  console.log(error);
                }
              });
            },
            error: function(error) {
              console.log(error);
            }
          });
        });
        
        $(document).ready(function() {
          $('.isotope-filters button').click(function() {
            $('.isotope-filters button').removeClass('active');
        
            $(this).addClass('active');
        
            var filterValue = $(this).data('filter');
            console.log(filterValue);
            $.ajax({
              url: '<%= filtered_models_admin_cardealer_path(@cardealer) %>',
              method: 'GET',
              data: { brand: filterValue },
              dataType: 'script',
              success: function(response) {
                $('#model-list').html(response);
              },
              error: function(xhr, status, error) {
                  console.error(xhr.responseText);
              }
              });
          });
        });

        $(document).ready(function() {
          $('#admin-brand-select .select-options li').on('click', function() {
            var brandId = $(this).attr('rel'); 
            console.log(brandId);
    
            if (brandId) {

              $.ajax({
                url: '/brands/' + brandId,
                method: 'GET',
                success: function(data) {
                  console.log(data);
                  var districtSelect = document.getElementById('admin-model-select');
                  while (districtSelect.firstChild) {
                      districtSelect.removeChild(districtSelect.firstChild);
                  }

                  data.forEach(function(model) {
                      var option = document.createElement('option');
                      option.value = model.id;
                      option.textContent = model.model_title_name;
                      districtSelect.appendChild(option);
                  });

                  var selectOptions = document.querySelector('#admin1-model-select .select-options');
                  while (selectOptions.firstChild) {
                      selectOptions.removeChild(selectOptions.firstChild);
                  }
                  
                  data.forEach(function(model) {
                      var listItem = document.createElement('li');
                      listItem.textContent = model.model_title_name;
                      listItem.setAttribute('rel', model.id);
                      selectOptions.appendChild(listItem);
                  });

                  var selectStyled = document.querySelector('#admin1-model-select .select-styled');
                  selectStyled.textContent = data[0].model_title_name;
                  

                  console.log('District select updated');
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error); 
                }
              });
            }
          });
        });

        $(document).ready(function() {
          $(document).on('click', '#admin1-model-select .select-options li', function() {
            var districtName = $(this).text();
            console.log(districtName);
            var selectStyled = document.querySelector('#admin1-model-select .select-styled');
            selectStyled.textContent = districtName;
          });
        });
        
        
        </script>
    </body>
    
    