
<body>

<!--=================================
  loading -->

  <div id="loading">
    <div id="loading-center">
      <img src="<%= asset_path('loader/loader.gif') %>" alt="">
   </div>
  </div>

<!--=================================
  loading -->


<!--=================================
 header -->

 <header id="header" class="defualt">
    <div class="topbar">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="topbar-left text-lg-start text-center">
               <ul class="list-inline">
                 <li> <i class="fa fa-envelope-o"> </i> hungchv16@gmail.com</li>
                 <li> <i class="fa fa-clock-o"></i> Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>
               </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="topbar-right text-lg-end text-center">
               <ul class="list-inline">
                 <li> <i class="fa fa-phone"></i> 0386680574</li>
                 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                 <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                 <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                 <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
               </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--=================================
     mega menu -->
    
    <div class="menu">
      <!-- menu start -->
       <nav id="menu" class="mega-menu">
        <!-- menu list items container -->
        <section class="menu-list-items">
         <div class="container">
          <div class="row">
           <div class="col-md-12 position-relative">
            <!-- menu logo -->
            <ul class="menu-logo">
                <li>
                    <a href=<%= car_show_path %>><img id="logo_img" src="<%= asset_path('logo/logo-light.png') %>" alt="logo"></a>
                </li>
            </ul>
            <!-- menu links -->
            <ul class="menu-links">
                <!-- active class -->
                <li><a href="<%= car_show_path %>">Home</a></li>
                <li><a href="javascript:void(0)">So sánh <i class="fa fa-angle-down fa-indicator"></i></a>
                  <div class="drop-down menu-bg grid-col-12">
                    <div class="grid-row" id="list-compared">
                      <%= render partial: 'car/compared_models', locals: { compared_models: session[:compared_models] } %>
                    </div>
                    <div class="grid-row" id ="compare_button">
                      <%= link_to "So sánh", car_compare_compare_path, class: "button red float-end" %>
                    </div> 
                  </div>
                </li>
                <li><a href="<%= cardealers_path %>">CARDEALER</a></li>
                <li><a href="javascript:void(0)">top doanh số   <i class="fa fa-angle-down fa-indicator"></i></a>
                   <!-- drop down multilevel  -->
                    <ul class="drop-down-multilevel">
                        <li><%= link_to "Cả năm 2023", sales_index_path %></li>
                    </ul>
                </li>
                <li>
                  <% if current_user %>
                  <a href="javascript:void(0)"> <%= current_user.firstname %>  <i class="fa fa-angle-down fa-indicator"></i></a>
                   <ul class="drop-down-multilevel">
                    <% if current_user.admin_car_dealer? %>
                  <li><%= link_to "Admin", admin_cardealer_path(current_user.cardealer) %></li>
                <% else %>
                  <li><%= link_to "Tài khoản", user_path(current_user) %></li>
                <% end %>
                    <li><%= link_to "Đăng xuất", logout_path, method: :delete %>
                    </li>
                   </ul>
                  <% else %>
                    <%= link_to "Đăng nhập", login_path %>
                  <% end %>
                </li>
              </ul>
           </div>
          </div>
         </div>
        </section>
       </nav>
      <!-- menu end -->
     </div>
    </header>

<!--=================================
 header -->


<!--=================================
 inner-intro -->

 <section class="inner-intro bg-1 bg-overlay-black-70">
  <div class="container">
     <div class="row text-center intro-title">
           <div class="col-md-6 text-md-start d-inline-block">
             <h1 class="text-white">Trang quản lý Car Dealer</h1>
           </div>
           <div class="col-md-6 text-md-end float-end">
             <ul class="page-breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a> <i class="fa fa-angle-double-right"></i></li>
                <li><a href="#">Admin</a> <i class="fa fa-angle-double-right"></i></li>
                <li><span><%= @cardealer.name %></span> </li>
             </ul>
           </div>
     </div>
  </div>
</section>

<!--=================================
 inner-intro -->


<!--=================================
left-sidebar  -->

<section class="page-left-sidebar page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="blog-sidebar">
          <div class="sidebar-widget">
            <h6>Các chức năng</h6>
            <div class="widget-link mb-md-0 mb-5">
               <ul>
                <li><%= link_to '<i class="fa fa-angle-right"></i> Các yêu cầu tư vấn'.html_safe, inquiries_all_admin_cardealer_path(@cardealer) %></li>
                <li><%= link_to '<i class="fa fa-angle-right"></i> Nhân sự'.html_safe, staffs_admin_cardealer_path(@cardealer) %></li>
                <li><%= link_to '<i class="fa fa-angle-right"></i> Các mẫu xe đang có'.html_safe, models_admin_cardealer_path(@cardealer) %></li>
              </ul>
              </div>
          </div>
        </div>
      </div>
        <div class="col-md-9">
            <section class="product-listing page-section-ptb" style="padding: 40px 0;">
                <div class="container">
                 <div class="row">
                    <div class="col-lg-12 col-md-12">
                       <div class="row" id="menu"> 
                        <div class="details-nav" style="margin: 0;">
                          <ul>
                            <li>
                              <%= link_to inquiries_today_admin_cardealer_path(@cardealer) do %>
                                <i class="fa fa-calendar"></i>
                                Hôm nay
                              <% end %>
                            </li>
                            <li>
                              <%= link_to inquiries_this_week_admin_cardealer_path(@cardealer) do %>
                                <i class="fa fa-calendar"></i>
                                Tuần này
                              <% end %>
                            </li>
                            <li>
                              <%= link_to inquiries_this_month_admin_cardealer_path(@cardealer) do %>
                                <i class="fa fa-calendar"></i>
                                Tháng này
                              <% end %>
                            </li>
                            <li>
                              <%= link_to inquiries_all_admin_cardealer_path(@cardealer) do %>
                                <i class="fa fa-calendar"></i>
                                Tất cả
                              <% end %>
                            </li>
                            
                          </ul>
                       </div>
                       </div>
                       <div class="row" id="car-list"> 
                        <%= render partial: 'car_list', locals: { inquiriess: @inquiries } %>
                       </div>
                       <div class="pagination-nav d-flex justify-content-center">
                        <ul class="pagination">
                          <%= will_paginate @inquiries, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class: 'page-item', link_class: 'page-link' %>
                        </ul>
                      </div> 
                    </div>
                 </div>
               </section>
        </div>
     </div>
   </div>
</section>

<!--=================================
left-sidebar  -->


<!--=================================
 footer -->

<footer class="footer bg-3 bg-overlay-black-90">
  <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="social">
        <ul>
          <li><a class="facebook" href="#">facebook <i class="fa fa-facebook"></i> </a></li>
          <li><a class="twitter" href="#">twitter <i class="fa fa-twitter"></i> </a></li>
          <li><a class="pinterest" href="#">pinterest <i class="fa fa-pinterest-p"></i> </a></li>
          <li><a class="dribbble" href="#">dribbble <i class="fa fa-dribbble"></i> </a></li>
          <li><a class="google-plus" href="#">google plus <i class="fa fa-google-plus"></i> </a></li>
          <li><a class="behance" href="#">behance <i class="fa fa-behance"></i> </a></li>
        </ul>
       </div>
      </div>
    </div>
  </div>
</footer>

<!--=================================
 footer -->



 <!--=================================
 back to top -->

<div class="car-top">
  <span>
    <img  src="<%= asset_path('car.png') %>" alt="">
  </span>
</div>

 <!--=================================
 back to top -->
 <script>

    $('.add-to-compare').on('click', function(e) {
      e.preventDefault();
    
      var modelId = $(this).data('model-id');
      var csrfToken = $('meta[name="csrf-token"]').attr('content');
    
      $.ajax({
        type: 'POST',
        url: '/car/add_to_compare',
        data: {
          model_id: modelId,
          authenticity_token: csrfToken
        },
        success: function(response) {
          console.log(response);
    
          $.ajax({
            type: 'GET',
            url: '/car/render_compared_models',
            success: function() {
            },
            error: function(error) {
              console.log(error);
            }
          });
        },
        error: function(error) {
          console.log(error);
        }
      });
    });
    
    // Sử dụng event delegation cho phần tử cha tồn tại từ trước (body trong trường hợp này)
    $('body').on('click', '.remove-from-compare', function(e) {
      e.preventDefault();
    
      var modelId = $(this).data('model-id');
      var csrfToken = $('meta[name="csrf-token"]').attr('content');
    
      $.ajax({
        type: 'POST',
        url: '/car/remove_from_compare',
        data: {
          model_id: modelId,
          authenticity_token: csrfToken
        },
        success: function(response) {
          console.log(response);
          $.ajax({
            type: 'GET',
            url: '/car/render_compared_models',
            success: function() {
            },
            error: function(error) {
              console.log(error);
            }
          });
        },
        error: function(error) {
          console.log(error);
        }
      });
    });

    $(document).ready(function() {
      
      $('#exampleModal3').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget); 
        var name = button.data('name');
        var email = button.data('email');
        var phone = button.data('phone');
        var preferredContact = button.data('preferredcontact');
        var note = button.data('note');
        var createdAt = button.data('created-at');
    
        var modal = $(this);
        console.log(preferredContact);
        console.log(modal.find('p[data-id="preferredcontact"]'));
        modal.find('p[data-id="name"]').text(name);
        modal.find('p[data-id="email"]').text(email);
        modal.find('p[data-id="phone"]').text(phone);
        modal.find('p[data-id="preferredcontact"]').text(preferredContact);
        modal.find('p[data-id="note"]').text(note);
        modal.find('p[data-id="created-at"]').text(createdAt);
      });
    });
    

    

    
    </script>
</body>

