<body>

<!--=================================
  loading -->

 <div id="loading">
  <div id="loading-center">
    <img src="<%= asset_path('loader/loader.gif') %>" alt="">
 </div>
</div>

<!--=================================
  loading -->

<!--=================================
 header -->

<header id="header" class="defualt">
<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="topbar-left text-lg-start text-center">
           <ul class="list-inline">
             <li> <i class="fa fa-envelope-o"> </i> hungchv16@gmail.com</li>
             <li> <i class="fa fa-clock-o"></i> Mon - Sat 8.00 - 18.00. Sunday CLOSED</li>
           </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="topbar-right text-lg-end text-center">
           <ul class="list-inline">
             <li> <i class="fa fa-phone"></i> 0386680574</li>
             <li><a href="#"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#"><i class="fa fa-twitter"></i></a></li>
             <li><a href="#"><i class="fa fa-instagram"></i></a></li>
             <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
           </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!--=================================
 mega menu -->

<div class="menu">
  <!-- menu start -->
   <nav id="menu" class="mega-menu">
    <!-- menu list items container -->
    <section class="menu-list-items">
     <div class="container">
      <div class="row">
       <div class="col-md-12 position-relative">
        <!-- menu logo -->
        <ul class="menu-logo">
            <li>
                <a href=<%= car_show_path %>><img id="logo_img" src="<%= asset_path('logo/logo-light.png') %>" alt="logo"></a>
            </li>
        </ul>
        <!-- menu links -->
        <ul class="menu-links">
            <!-- active class -->
            <li><a href="javascript:void(0)"> Home </a>
            </li>
            <li><a href="javascript:void(0)">So sánh <i class="fa fa-angle-down fa-indicator"></i></a>
              <div class="drop-down menu-bg grid-col-12">
                <div class="grid-row" id="list-compared">
                  <%= render partial: 'compared_models', locals: { compared_models: session[:compared_models] } %>
                </div>
                <div class="grid-row" id ="compare_button">
                  <%= link_to "So sánh", car_compare_compare_path, class: "button red float-end" %>
                </div> 
              </div>
            </li>
            <li><a href="javascript:void(0)">top doanh số   <i class="fa fa-angle-down fa-indicator"></i></a>
               <!-- drop down multilevel  -->
                <ul class="drop-down-multilevel">
                    <li><%= link_to "Cả năm 2023", sales_index_path %></li>
                </ul>
            </li>
            <li>
              <% if current_user %>
              <a href="javascript:void(0)"> <%= current_user.firstname %>  <i class="fa fa-angle-down fa-indicator"></i></a>
               <ul class="drop-down-multilevel">
                <% if current_user.admin_car_dealer? %>
                  <li><%= link_to "Admin", admin_cardealer_path(current_user.cardealer) %></li>
                <% else %>
                  <li><%= link_to "Tài khoản", user_path(current_user) %></li>
                <% end %>
                <li><%= link_to "Đăng xuất", logout_path, method: :delete %>
                </li>
               </ul>
              <% else %>
                <%= link_to "Đăng nhập", login_path %>
              <% end %>
            </li>
          </ul>
       </div>
      </div>
     </div>
    </section>
   </nav>
  <!-- menu end -->
 </div>
</header>

<!--=================================
 header -->


<!--=================================
 inner-intro -->

 <section class="inner-intro bg-1 bg-overlay-black-70">
  <div class="container">
     <div class="row text-center intro-title">
           <div class="col-md-6 text-md-start d-inline-block">
             <h1 class="text-white">Danh sách xe đang bán tại Việt Nam</h1>
           </div>
           <div class="col-md-6 text-md-end float-end">
             <ul class="page-breadcrumb">
                <li><a href="#"><i class="fa fa-home"></i> Trang chủ</a> <i class="fa fa-angle-double-right"></i></li>
                 <li><%= link_to 'Danh sách xe', car_show_path %> <i class="fa fa-angle-double-right"></i></li>
             </ul>
           </div>
     </div>
  </div>
</section>

<!--=================================
 inner-intro -->


<!--=================================
product-listing  -->

<section class="product-listing page-section-ptb">
 <div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3">
      <div class="listing-sidebar">
        <%= search_form_for @q, url: car_show_path, method: "get", html: { class: 'search-form' } do |f| %>
          <div class="widget">
            <div class="widget-search">
              <h5>Tìm kiếm nâng cao</h5>
              <ul class="list-style-none">
                <li><i class="fa fa-star"> </i> Kết quả được tìm thấy <span class="float-end"><%= @models_count %></span></li>
                <li>
                  <i class="fa fa-shopping-cart"> </i> So sánh xe
                  <span class="float-end" id="compare-count">
                    <%= session[:compared_models].to_a.size %>
                  </span>
                </li>
                <li>
                  <i class="fa fa-refresh"></i> Reset 
                  <span class="float-end" id="reset-compare">
                   <%= link_to 'X', reset_compare_path %>
                  </span>
                </li>
              </ul>
            </div>
            <div class="clearfix">
              <ul class="list-group">
                <li class="list-group-item">
                  <a href="#">Thương hiệu</a>
                  <ul>
                    <li>
                        <div class="selected-box">
                          <%= f.collection_check_boxes :brand_id_in, Brand.all, :id, :brand_name, {}, { class: 'form-check-input' } do |b| %>
                            <div class="form-check">
                              <%= b.check_box + b.label %>
                            </div>
                          <% end %>
                        </div>
                        
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <a href="#">Loại xe</a>
                  <ul>
                    <li>              
                        <div class="selected-box">
                          <%= f.collection_check_boxes :type_id_in, Type.all, :id, :type_name, {}, { class: 'form-check-input' } do |b| %>
                            <div class="form-check">
                              <%= b.check_box + b.label %>
                            </div>
                          <% end %>
                        </div>              
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <a href="#">Phân khúc xe</a>
                  <ul>
                    <li>
                      <div class="selected-box">
                        <%= f.collection_check_boxes :segment_id_in, Segment.all, :id, :segment_name, {}, { class: 'form-check-input' } do |b| %>
                          <div class="form-check">
                            <%= b.check_box + b.label %>
                          </div>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="list-group-item">
                  <%= select_tag "sort_option", options_for_select([["Thấp đến cao ", "lowest_price"], ["Cao đến thấp ", "highest_price"], ["Tên xe: A đến Z", "name_a_to_z"], ["Tên xe: Z đến A", "name_z_to_a"]]) %>  
                </li>                
                <li class="list-group-item">
                  <div class="price-slide">
                    <div class="price">
                      <label class="mb-2" for="price">Khoảng giá tìm kiếm</label>
                        <input type="text" id="price" class="amount w-100" value="1 tỷ - 3 tỷ" />
                      <div id="slider-range"></div>
                      <%= hidden_field_tag "min_price" , 1000%>
                      <%= hidden_field_tag "max_price" , 3000%>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        
        <div class="widget-banner">
          <%= f.submit "Tìm", class: 'button red' %>
          <% end %>  
        </div>
      </div>
    </div>
     <div class="col-lg-9 col-md-9">
       <div class="sorting-options-main">
         <div class="row">
          <div class="col">
            <%= search_form_for @q, url: car_show_path, method: "get", html: { class: 'search-name-form' } do |f| %>
              <div class="price-search">
                <span class="mb-2">Tìm theo tên</span>
                <div class="search">
                  <i class="fa fa-search"></i>
                  <%= f.search_field :model_title_name_cont, class: 'form-control placeholder', placeholder: '....', id: 'model_title_name_autocomplete' %>
                </div>
              </div>
            <% end %>
          </div>   

        </div>
       </div>
        <div class="row" id="car-list"> 
          <%= render partial: 'car_list', locals: { models: @models } %>
        </div>
        <div class="pagination-nav d-flex justify-content-center">
          <ul class="pagination">
            <%= will_paginate @models, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class: 'page-item', link_class: 'page-link' %>
          </ul>
        </div>          
     </div>
  </div>
</section>

<!--=================================
product-listing  -->


<!--=================================
 footer -->

<footer class="footer bg-3 bg-overlay-black-90">
  <div class="container">
    <div class="row">
     <div class="col-md-12">
      <div class="social">
        <ul>
          <li><a class="facebook" href="#">facebook <i class="fa fa-facebook"></i> </a></li>
          <li><a class="twitter" href="#">twitter <i class="fa fa-twitter"></i> </a></li>
          <li><a class="pinterest" href="#">pinterest <i class="fa fa-pinterest-p"></i> </a></li>
          <li><a class="dribbble" href="#">dribbble <i class="fa fa-dribbble"></i> </a></li>
          <li><a class="google-plus" href="#">google plus <i class="fa fa-google-plus"></i> </a></li>
          <li><a class="behance" href="#">behance <i class="fa fa-behance"></i> </a></li>
        </ul>
       </div>
      </div>
    </div>
    <hr />
  </div>
</footer>

<!--=================================
 footer -->



 <!--=================================
 back to top -->

<div class="car-top">
  <span>
    <img  src="<%= asset_path('car.png') %>" alt="">
  </span>
  
</div>
<script>

$('.add-to-compare').on('click', function(e) {
  e.preventDefault();

  var modelId = $(this).data('model-id');
  var csrfToken = $('meta[name="csrf-token"]').attr('content');

  $.ajax({
    type: 'POST',
    url: '/car/add_to_compare',
    data: {
      model_id: modelId,
      authenticity_token: csrfToken
    },
    success: function(response) {
      console.log(response);

      $.ajax({
        type: 'GET',
        url: '/car/render_compared_models',
        success: function() {
        },
        error: function(error) {
          console.log(error);
        }
      });
    },
    error: function(error) {
      console.log(error);
    }
  });
});

// Sử dụng event delegation cho phần tử cha tồn tại từ trước (body trong trường hợp này)
$('body').on('click', '.remove-from-compare', function(e) {
  e.preventDefault();

  var modelId = $(this).data('model-id');
  var csrfToken = $('meta[name="csrf-token"]').attr('content');

  $.ajax({
    type: 'POST',
    url: '/car/remove_from_compare',
    data: {
      model_id: modelId,
      authenticity_token: csrfToken
    },
    success: function(response) {
      console.log(response);
      $.ajax({
        type: 'GET',
        url: '/car/render_compared_models',
        success: function() {
        },
        error: function(error) {
          console.log(error);
        }
      });
    },
    error: function(error) {
      console.log(error);
    }
  });
});


</script>
</body>
